[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
charset-normalizer = "*"
coreapi = "*"
coreschema = "*"
django = "*"
django-anymail = "*"
django-cors-headers = "*"
django-picklefield = "*"
django-q2 = "*"
django-webpack-loader = "*"
djangorestframework = "*"
gunicorn = "*"
idna = "*"
importlib-metadata = "*"
itypes = "*"
jinja2 = "*"
markdown = "*"
markupsafe = "*"
packaging = "*"
postgres = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
six = "*"
sqlparse = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
zipp = "*"
"zope.event" = "*"
"zope.interface" = "*"
astroid = "*"
autopep8 = "*"
dill = "*"
isort = "*"
mccabe = "*"
pip-licenses = "*"
platformdirs = "*"
prettytable = "*"
pycodestyle = "*"
pylint = "*"
tomli = "*"
tomlkit = "*"
wcwidth = "*"
gevent = "*"
greenlet = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
