asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
coreapi==2.3.3
coreschema==0.0.4
django==4.2.3
django-anymail==10.0
django-cors-headers==4.0.0
django-picklefield==3.1
django-q2==1.5.3
django-webpack-loader==2.0.0
djangorestframework==3.14.0
gevent==22.10.2
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
importlib-metadata==6.6.0
itypes==1.2.0
jinja2==3.1.2
markdown==3.4.3
markupsafe==2.1.2
postgres==4.0
psycopg2-binary==2.9.6
psycopg2-pool==1.1
python-dateutil==2.8.2
pytz==2023.3
pyyaml==6.0
requests==2.31.0
setuptools==67.8.0
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.6.2
uritemplate==4.1.1
urllib3==2.0.2
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
astroid==2.15.5
autopep8==2.0.2
dill==0.3.6
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
pip-licenses==4.3.2
platformdirs==3.5.1
prettytable==3.7.0
pycodestyle==2.10.0
pylint==2.17.4
tomli==2.0.1
tomlkit==0.11.8
typing-extensions==4.6.2
wcwidth==0.2.6
wrapt==1.15.0
