{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    [
      "transform-imports",
      {
        "@fortawesome/free-solid-svg-icons": {
          "transform": "@fortawesome/free-solid-svg-icons/${member}",
          "skipDefaultConversion": true,
          "preventFullImport": true
        }
      }
    ]
  ]
}