div.container {
    vertical-align:middle!important;
    margin-top: 1vmin;
}

span.appTitle {
    display: block;
    margin-top: 1pc;
    transform: rotateX(360deg) scale(1);
    transition: all 2000ms ease-in-out;
}

span.appTitle:hover {
}
